@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat&family=Pinyon+Script&family=Roboto:ital@0;1&display=swap");


* {
  /* outline: 2px solid red; */
}

:root {
  color-scheme: only-light;
}

body {
  margin: 0;
  background-color: #1c2438;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
}

.nav {
  width: 100%;
  user-select: none;
  background-color: #2f3445;
  z-index: 100;
  box-shadow: 0px 1px 20px 0px rgb(1, 1, 1);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
}

.nav .mobile {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-animation: fadeNavIn 0.5s;
  animation: fadeNavIn 0.5s;
}

@keyframes fadeNavIn {
  from {
    opacity: 0;
    transform: translateY(-400px);
  }
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.nav h3 {
  font-family: "Fredoka One", cursive;
  color: white;
  font-weight: 500;
  margin-right: auto;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav ul li {
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bolder;
  --h: 2.2em;
  line-height: var(--h);
  color: #0000;
  text-shadow: 0 calc(-1 * var(--_t, 0em)) #fff,
    0 calc(var(--h) - var(--_t, 0em)) #1095c1;
  overflow: hidden;
  transition: 0.3s;
}

.nav ul li a {
  display: inline-block;
  height: 100%;
}

.nav ul li.active {
  border-radius: 0 0 5px 5px;
  border-bottom: 5px solid white;
}

.nav ul li:hover {
  --_t: var(--h);
}

.nav i {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav i:active {
  color: red;
}

@media only screen and (max-width: 600px) {
  .nav ul {
    display: none;
  }

  .nav ul.mobile {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2f3445;
  }
}

.homepg .upperSection {
  height: 100vh;
  background-color: #1c2438;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  margin-top: 3rem;
  gap: 16rem;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: scaleX(0), translateY(0) rotateX(10px);
  }
}

.homepg .upperSection img {
  background-color: inherit;
  width: 40rem;
  height: 60%;
  margin-bottom: 5rem;
}

.homepg .upperSection h1 {
  color: #fff;
  font-size: 1.5rem;
  max-width: 30rem;
}

.homepg .upperSection h1 span {
  font-size: 2rem;
}

.homepg .upperSection h1 a {
  font-size: 15px;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  user-select: none;
  border: 2px solid #fff;
  padding: 7px;
  border-radius: 9px;
}

.homepg .upperSection h1 button:hover {
  box-shadow: 0 0 40px #333;
}

.homepg .upperSection h1 button:active {
  box-shadow: inset 2px 2px 2px 2px black;
}

@media only screen and (max-width: 1070px) {
  .homepg .upperSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 13rem;
  }

  .homepg .upperSection h1 {
    font-size: 1.5rem;
    max-width: 30rem;
    font-weight: 300;
  }
}

@media only screen and (max-width: 920px) {
  .homepg .upperSection {
    gap: 6rem;
  }

  .homepg .upperSection h1 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 775px) {
  .homepg .upperSection {
    display: grid;
    grid-template-rows: 0.2fr;
    gap: 2rem;
  }

  .homepg .upperSection img {
    margin-top: 5rem;
    place-self: center;
    width: 60%;
    height: 60%;
    grid-column: 1;
    grid-row: 1;
  }

  .homepg .upperSection h1 {
    margin-top: -8rem;
    font-size: 19px;
    grid-column: 1;
    grid-row: 2;
    place-self: center;
  }
}

@media only screen and (max-width: 446px) {
  .homepg .upperSection {
    padding: 0 2rem;
    background-color: #1c2438;
    display: grid;
    grid-template-columns: 5fr;
    gap: 2rem;
  }

  .homepg .upperSection img {
    place-self: center;
    width: 70%;
    height: 60%;
    grid-column: 1;
    grid-row: 1;
  }

  .homepg .upperSection h1 {
    font-size: 15px;
    grid-column: 1;
    grid-row: 2;
  }
}

.homepg .lowerSection {
  height: 120vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepg .lowerSection .card {
  width: 50%;
  height: 20rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background-color: rgba(31, 77, 163, 0.07);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.homepg .lowerSection .card h1 {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}

.homepg .lowerSection .card h3 {
  color: Black;
  font-weight: 500;
  margin-left: auto;
  font-size: 1.5rem;
  font-weight: bolder;
}

@media only screen and (max-width: 1000px) {
  .homepg .lowerSection .card {
    width: 80%;
  }
}

@media only screen and (max-width: 570px) {
  .homepg .lowerSection .card h1 {
    font-size: 15px;
  }

  .homepg .lowerSection .card h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 237px) {
  /* .homepg .lowerSection .card {
    height: 40%;
  } */

  .homepg .lowerSection .card h1 {
    font-size: 10px;
  }

  .homepg .lowerSection .card h3 {
    font-size: 15px;
  }
}



.contactMe h1 {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.contactMe .contactCard {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* not done */
/* @media only screen and (max-width: 1110px) {
  .contactMe .contactCard {
    width: 70%;
  }

  .contactMe .contactCard form input {
    width: 60%;
  }

  .contactMe .contactCard form textarea {
    width: 60%;
  }
} */

/* not done */
/* @media only screen and (max-width: 660px) {
  .contactMe .contactCard {
    width: 80%;
    gap: 1rem;
  }

  .contactMe .contactCard form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
} */


.stories_img {
  border-radius: 50%;
  border: 12px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
}

.loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: #0d0d0e;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .stories_img {
    border: 10px solid rgba(255, 255, 255, 0.15);
    width: 80%;
  }

  .arrow {
    display: none !important;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
  }
}

.indicator {
  cursor: pointer;
  color: gray;
  font-weight: bold;
  font-size: 4rem;
  line-height: 3rem;
}

.indicator.active {
  color: #fff;
}